.cart-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  justify-content: start;
  gap: 50px;
}
